# Machine Learning 2021/2022 - Challenge 

<hr>

# Identification

In [1]:
yourNameSurname='Sofia Torchia' # e.g., yourNameSurname='Mario Rossi'
yourMatricolaNumber='1679164' # e.g., yourMatricolaNumber='12345678'
yourStudentEMAIL='torchia.1679164@studenti.uniroma1.it' # e.g., yourStudentEMAIL='rossim.12345678@studenti.uniroma1.it'

<hr>

## 1. Mandatory Rules:
- This year the results of the challenges will count 11,2/28 of your final grade (full info about grades <a href='https://twiki.di.uniroma1.it/twiki/view/ApprAuto '>here</a>).
- Only one submission is allowed. We will not consider multiple submissions.
- Please remember your solution must be <b>"YOUR SOLUTION"</b>, hence you are requested to deliver your individual answers/arguments/opinions/critics.
- Mail your solution (with your <b>jupyter notebook</b> and the cleaned dataset) only to stefano.faralli@uniroma1.it <b>deadlines are announced on the ML google group and <a href='https://twiki.di.uniroma1.it/twiki/view/ApprAuto'>here</a> (NO EXCEPTIONS)</b> if you miss to deliver your solution you must wait the next (if any) available deadline. 
- The subject of your email must be: "[ML-21-22-Challenge_solution] NAME - SURNAME - MATRICOLA".
- Double check the subject of your email and the attachments.
- In case you want to compress the attachment, <b>USE ONLY STANDARD ZIP compression</b> (NO RAR,7Z etc..).
- <b>Please sumbit The notebook (with SAVED OUTPUTS) and the cleaned dataset!</b>.
- Your solution might be considered as the "copy" of others solutions, in that specific case the resulting score for all involved students will be 0/8.
- Then read carefully all the part of the jupyter notebook and fill all fields.
- <b>solutions (and correspondig points) are evaluated mainly on your thoughts/comments/opinions</b>.  
- If you have questions <b>Don't write "personal" emails</b> to Stefano Faralli, instead <b>use our google group</b>.
- A solution having a summary discussion with less than 500 words is evaluated with 0 points.
- Comments summary etc.. must be in <b>English</b>.

<hr>


### Dataset and task Description:
<img width='400' src='news-online.jpeg'/>

- The challenge is about online news popularity;
- The provided dataset consists of one single csv file ("OnlineNewsPopularity.csv");
- The provided dataset is a modified <b>noisy</b> version of the original dataset described in [1];

[1] K. Fernandes, P. Vinagre and P. Cortez. A Proactive Intelligent Decision
    Support System for Predicting the Popularity of Online News. Proceedings
    of the 17th EPIA 2015 - Portuguese Conference on Artificial Intelligence,
    September, Coimbra, Portugal


This dataset summarizes a heterogeneous set of features about articles published by Mashable in a period of two years. The goal of the task is to predict the number of shares in social networks (popularity).

Number of Instances: <b>39,797</b> 

Number of Attributes: <b>61</b>

Target: <b>shares</b>

### Attribute Information:

<table>
 <tr><th> index </th><th>name</th><th>description</th></tr>
 <tr><td>0</td><td>url</td><td>URL of the article</td></tr>
 <tr><td>1</td><td>timedelta</td><td>Days between the article publication and the dataset acquisition</td></tr>
 <tr><td>2</td><td>n_tokens_title</td><td>Number of words in the title</td></tr>
 <tr><td>3</td><td>n_tokens_content</td><td>Number of words in the content</td></tr>
 <tr><td>4</td><td>n_unique_tokens</td><td>Rate of unique words in the content</td></tr>
 <tr><td>5</td><td>n_non_stop_words</td><td>Rate of non-stop words in the content</td></tr>
 <tr><td>6</td><td>n_non_stop_unique_tokens</td><td>Rate of unique non-stop words in content</td></tr>
 <tr><td>7</td><td>num_hrefs</td><td>Number of links</td></tr>
 <tr><td>8</td><td>num_self_hrefs</td><td>Number of links to other articles published by Mashable</td></tr>
 <tr><td>9</td><td>num_imgs</td><td>Number of images</td></tr>
 <tr><td>10</td><td>num_videos</td><td>Number of videos</td></tr>
 <tr><td>11</td><td>average_token_length</td><td>Average length of the words in the content</td></tr>
 <tr><td>12</td><td>num_keywords</td><td>Number of keywords in the metadata</td></tr>
 <tr><td>13</td><td>data_channel_is_lifestyle</td><td>Is data channel 'Lifestyle'?</td></tr>
 <tr><td>14</td><td>data_channel_is_entertainment</td><td>Is data channel 'Entertainment'?</td></tr>
 <tr><td>15</td><td>data_channel_is_bus</td><td>Is data channel 'Business'?</td></tr>
 <tr><td>16</td><td>data_channel_is_socmed</td><td>Is data channel 'Social Media'?</td></tr>
 <tr><td>17</td><td>data_channel_is_tech</td><td>Is data channel 'Tech'?</td></tr>
 <tr><td>18</td><td>data_channel_is_world</td><td>Is data channel 'World'?</td></tr>
 <tr><td>19</td><td>kw_min_min</td><td>Worst keyword (min. shares)</td></tr>
 <tr><td>20</td><td>kw_max_min</td><td>Worst keyword (max. shares)</td></tr>
 <tr><td>21</td><td>kw_avg_min</td><td>Worst keyword (avg. shares)</td></tr>
 <tr><td>22</td><td>kw_min_max</td><td>Best keyword (min. shares)</td></tr>
 <tr><td>23</td><td>kw_max_max</td><td>Best keyword (max. shares)</td></tr>
 <tr><td>24</td><td>kw_avg_max</td><td>Best keyword (avg. shares)</td></tr>
 <tr><td>25</td><td>kw_min_avg</td><td>Avg. keyword (min. shares)</td></tr>
 <tr><td>26</td><td>kw_max_avg</td><td>Avg. keyword (max. shares)</td></tr>
 <tr><td>27</td><td>kw_avg_avg</td><td>Avg. keyword (avg. shares)</td></tr>
 <tr><td>28</td><td>self_reference_min_shares</td><td>Min. shares of referenced articles in Mashable</td></tr>
 <tr><td>29</td><td>self_reference_max_shares</td><td>Max. shares of referenced articles in Mashable</td></tr>
 <tr><td>30</td><td>self_reference_avg_sharess</td><td>Avg. shares of referenced articles in Mashable</td></tr>
 <tr><td>31</td><td>weekday_is_monday</td><td>Was the article published on a Monday?</td></tr>
 <tr><td>32</td><td>weekday_is_tuesday</td><td>Was the article published on a Tuesday?</td></tr>
 <tr><td>33</td><td>weekday_is_wednesday</td><td>Was the article published on a Wednesday?</td></tr>
 <tr><td>34</td><td>weekday_is_thursday</td><td>Was the article published on a Thursday?</td></tr>
 <tr><td>35</td><td>weekday_is_friday</td><td>Was the article published on a Friday?</td></tr>
 <tr><td>36</td><td>weekday_is_saturday</td><td>Was the article published on a Saturday?</td></tr>
 <tr><td>37</td><td>weekday_is_sunday</td><td> Was the article published on a Sunday?</td></tr>
 <tr><td>38</td><td>is_weekend</td><td>Was the article published on the weekend?</td></tr>
 <tr><td>39</td><td>LDA_00</td><td>Closeness to LDA topic 0</td></tr>
 <tr><td>40</td><td>LDA_01</td><td>Closeness to LDA topic 1</td></tr>
 <tr><td>41</td><td>LDA_02</td><td>Closeness to LDA topic 2</td></tr>
 <tr><td>42</td><td>LDA_03</td><td>Closeness to LDA topic 3</td></tr>
 <tr><td>43</td><td>LDA_04</td><td>Closeness to LDA topic 4</td></tr>
 <tr><td>44</td><td>global_subjectivity</td><td>Text subjectivity</td></tr>
 <tr><td>45</td><td>global_sentiment_polarity</td><td>Text sentiment polarity</td></tr>
 <tr><td>46</td><td>global_rate_positive_words</td><td>Rate of positive words in the content</td></tr>
 <tr><td>47</td><td>global_rate_negative_words</td><td> Rate of negative words in the content</td></tr>
 <tr><td>48</td><td>rate_positive_words</td><td>Rate of positive words among non-neutral tokens</td></tr>
 <tr><td>49</td><td>rate_negative_words</td><td>Rate of negative words among non-neutral tokens</td></tr>
 <tr><td>50</td><td>avg_positive_polarity</td><td>Avg. polarity of positive words</td></tr>
 <tr><td>51</td><td>min_positive_polarity</td><td>Min. polarity of positive words</td></tr>
 <tr><td>52</td><td>max_positive_polarity</td><td>Max. polarity of positive words</td></tr>
 <tr><td>53</td><td>avg_negative_polarity</td><td>Avg. polarity of negative words</td></tr>
 <tr><td>54</td><td>min_negative_polarity</td><td>Min. polarity of negative words</td></tr>
 <tr><td>55</td><td>max_negative_polarity</td><td>Max. polarity of negative words</td></tr>
 <tr><td>56</td><td>title_subjectivity</td><td>Title subjectivity</td></tr>
 <tr><td>57</td><td>title_sentiment_polarity</td><td>Title polarity</td></tr>
 <tr><td>58</td><td>abs_title_subjectivity</td><td>Absolute subjectivity level</td></tr>
 <tr><td>59</td><td>abs_title_sentiment_polarity</td><td>Absolute polarity level</td></tr>
     <tr><td>60</td><td>shares</td><td>Number of shares (target)</td></tr>
</table>

<hr>

# 2. Pre-processing (up to 3 of 11.2 points)     
     
     
## 2.1 Clean and Load the Dataset (up to 1 of 11.2 points)
Use the following two cells (a code cell and, a markdown cell) to: 
- create a pandas DataFrame by loading a cleaned version of the "OnlineNewsPopularity.cvs" file.  
- describe the identified noise and the methodology used to fix the problems.

In [694]:
# write here the code for 2.1 Load the Dataset
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

your comments for step 2.1 Clean and Load the Dataset

In [695]:
original_data = pd.read_csv('OnlineNewsPopularity_cleaned.csv')
#1. alla riga 39537 elimino una virgola di troppo manualmente, questo caricato è già il dataset senza questa virgola
# ora ho un warning: Columns (9,10,37,60) have mixed types.Specify dtype option on import or set low_memory=False.

/home/sofiatorchia/.python-environments/default/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (9,10,37,60) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [696]:
# cambio i nomi delle colonne
original_data.columns 
columns = [col.replace(' ','') for col in original_data.columns]
original_data.columns = columns

In [697]:
# la colonna 0 deve essere di url (quindi stringhe). devo anche controllare che siano veramente url
# decido di rimuovere tutte le righe del dataset originale in cui non c'è un url. 
col = original_data.columns[0]
ty = original_data[col].apply(lambda x: 'http://' in x)
i = ty[ty==False].index
original_data.drop(index=i, inplace=True)

original_data[col].isna().any() #non ci sono na, quindi in teoria la colonna è a posto.

False

In [698]:
# prima di guardare colonna per colonna cerco gli NA in tutto il dataset: ongi colonna tranne la 0 ha NA
original_data.isna().any()[original_data.isna().any()].shape

(60,)

In [311]:
# prima di togliere gli NA guardo se le colonne hanno elementi di tipo diverso
# oppure troppo diversi dalla media.
# per ogni NA devo controllare com'è la riga e com'è la colonna

In [699]:
#controllo la colonna 1
col = original_data.columns[1]
original_data[col].value_counts() # ci sono tante classi, alcune sono in minoranza

original_data[col].isna().any() 
original_data[original_data[col].isna()] # mi rendo conto che è una riga vuota (tranne per l'url), quindi la rimuovo

,url,timedelta,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,...,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares
39643,http://mashable.com/2014/12/27/son-pays-off-mo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [700]:
i = original_data[original_data[col].isna()].index
original_data.drop(index=i, inplace=True)

In [701]:
original_data.isna().any()[original_data.isna().any()].shape

(56,)

In [315]:
# nelle righe 13,14...,18,31..36,38   le classi sono 2 quindi gli NA si trovano facili, uso simple inputer, ma vedo se

In [702]:
# creo una funzione che trova i tipi anomali
def anomal_types(original_data,col,t):
    cond = original_data[col].apply(lambda x:type(x)!= t)
    return original_data[cond]

In [317]:
# potrei decidere di usare un metodo per colonne per tutte quelle colonne con classi "corpose"
# guardo se una riga con tutti o quasi na ha un link già presente

In [703]:
# colonna 9: trasformo la stringa ' n.a' in un pd.NA
col = original_data.columns[9]
a = anomal_types(original_data,col,float)
print(original_data.shape[0])
print(a.shape[0]) 
cond2 = original_data[col][cond].apply(lambda x: 'n.a.' in x)
i = original_data[col][cond][cond2].index
original_data.loc[i,col] = np.nan

39643
6872

In [704]:
# colonna 9: le stringhe diventano float
col = original_data.columns[9]
cond = original_data[col].apply(lambda x: type(x)==str)
for i in original_data[col][cond].index:
    original_data.loc[i,col] = float(original_data.loc[i,col])

In [716]:
anomal_types(original_data,col,float)
original_data.loc[38062,col]

nan

In [717]:
# colonna 37, trasformo 'n.a.' e '0.0'
col = original_data.columns[37]
a = anomal_types(original_data,col,float)
cond2 = original_data[col][cond].apply(lambda x: 'n.a.' in x)
i = original_data[col][cond][cond2].index
original_data.loc[i,col] = np.nan

In [718]:
col = original_data.columns[37]
cond = original_data[col].apply(lambda x: type(x)==str)
for i in original_data[col][cond].index:
    original_data.loc[i,col] = float(original_data.loc[i,col])

In [726]:
col = original_data.columns[60]
cond = original_data[col].apply(lambda x: type(x)==str)
a = anomal_types(original_data,col,int)
cond2 = original_data[col][cond].apply(lambda x: 'n.a.' in x)
i = original_data[col][cond][cond2].index
original_data.loc[i,col] = np.nan

In [727]:
col = original_data.columns[60]
cond = original_data[col].apply(lambda x: type(x)==str)
for i in original_data[col][cond].index:
    original_data.loc[i,col] = int(original_data.loc[i,col])

In [754]:
col = original_data.columns[10]
cond = original_data[col].apply(lambda x: type(x)==str)
a = anomal_types(original_data,col,float)
cond2 = original_data[col][cond].apply(lambda x: 'n.a.' in x)
i = original_data[col][cond][cond2].index
original_data.loc[i,col] = np.nan
for i in original_data[col][cond].index:
    original_data.loc[i,col] = float(original_data.loc[i,col])

In [835]:
col = original_data.columns[0]
original_data[col].isna().any() 
if(original_data[col].isna().any()):
    i = original_data[original_data[col].isna()].index
    #print(original_data.loc[i])
#print(original_data[col].value_counts())
anomal_types(original_data,col,str)

Empty DataFrame
Columns: [url, timedelta, n_tokens_title, n_tokens_content, n_unique_tokens, n_non_stop_words, n_non_stop_unique_tokens, num_hrefs, num_self_hrefs, num_imgs, num_videos, average_token_length, num_keywords, data_channel_is_lifestyle, data_channel_is_entertainment, data_channel_is_bus, data_channel_is_socmed, data_channel_is_tech, data_channel_is_world, kw_min_min, kw_max_min, kw_avg_min, kw_min_max, kw_max_max, kw_avg_max, kw_min_avg, kw_max_avg, kw_avg_avg, self_reference_min_shares, self_reference_max_shares, self_reference_avg_sharess, weekday_is_monday, weekday_is_tuesday, weekday_is_wednesday, weekday_is_thursday, weekday_is_friday, weekday_is_saturday, weekday_is_sunday, is_weekend, LDA_00, LDA_01, LDA_02, LDA_03, LDA_04, global_subjectivity, global_sentiment_polarity, global_rate_positive_words, global_rate_negative_words, rate_positive_words, rate_negative_words, avg_positive_polarity, min_positive_polarity, max_positive_polarity, avg_negative_polarity, min_negative_polarity, max_negative_polarity, title_subjectivity, title_sentiment_polarity, abs_title_subjectivity, abs_title_sentiment_polarity, shares]
Index: []

[0 rows x 61 columns]

In [733]:
# cerco le righe con almeno un NA
ind = []
for i in original_data.index:
    if(original_data.loc[i].isna().any()):
        ind.append(i)
print(ind)

[37909, 38062]

In [730]:
original_data.loc[35154,'weekday_is_sunday'] = 0.0  # era già segnato un altro giorno come 1.0, quindi questo doveva
                                                    # per forza essere 0.0

In [592]:
# per queste righe prima faccio il simple inputer su determinate colonne: 13,14...,18,31..36,38
# non conviene, tolgo le righe.
binary_columns = []
for col in original_data.columns:
    s = original_data[col].value_counts().shape[0]
    if s == 2:
        binary_columns.append(col)

from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy="most_frequent")

for col in binary_columns:
    X = np.array(original_data[col]).reshape(-1,1)
    y = imp.fit_transform(X)
    original_data[col] = y

In [732]:
# rimuovo le righe con troppe incognite
original_data.drop(index = [36261, 39590, 39646], inplace = True)

In [734]:
original_data.loc[37909]['timedelta':]

timedelta                               37.0
n_tokens_title                           9.0
n_tokens_content                         0.0
n_unique_tokens                          0.0
n_non_stop_words                         0.0
n_non_stop_unique_tokens                 0.0
num_hrefs                                0.0
num_self_hrefs                           0.0
num_imgs                                 0.0
num_videos                               1.0
average_token_length                     0.0
num_keywords                             8.0
data_channel_is_lifestyle                0.0
data_channel_is_entertainment            0.0
data_channel_is_bus                      0.0
data_channel_is_socmed                   0.0
data_channel_is_tech                     0.0
data_channel_is_world                    0.0
kw_min_min                              -1.0
kw_max_min                              88.0
kw_avg_min                         12.454286
kw_min_max                               0.0
kw_max_max                          843300.0
kw_avg_max                          482275.0
kw_min_avg                               0.0
kw_max_avg                       7176.152519
kw_avg_avg                         4709.2604
self_reference_min_shares                0.0
self_reference_max_shares                0.0
self_reference_avg_sharess               0.0
weekday_is_monday                        0.0
weekday_is_tuesday                       1.0
weekday_is_wednesday                     0.0
weekday_is_thursday                      0.0
weekday_is_friday                        0.0
weekday_is_saturday                      0.0
weekday_is_sunday                        0.0
is_weekend                               0.0
LDA_00                              0.025004
LDA_01                              0.181113
LDA_02                                 0.025
LDA_03                              0.743882
LDA_04                                 0.025
global_subjectivity                      0.0
global_sentiment_polarity                0.0
global_rate_positive_words               0.0
global_rate_negative_words               0.0
rate_positive_words                      0.0
rate_negative_words                      0.0
avg_positive_polarity                    0.0
min_positive_polarity                    0.0
max_positive_polarity                    0.0
avg_negative_polarity                    0.0
min_negative_polarity                    0.0
max_negative_polarity                    0.0
title_subjectivity                       0.0
title_sentiment_polarity                 0.0
abs_title_subjectivity                   0.5
abs_title_sentiment_polarity             0.0
shares                                   NaN
Name: 37909, dtype: object

In [874]:
# per la riga 38062 faccio knn 
# original_data.loc[38062]['timedelta':]
# escludo la prima colonna da knn perchè fa solo danni
from sklearn.impute import KNNImputer

X = np.array(original_data.loc[0:][original_data.columns[1:]])
imp = KNNImputer()
imp.fit(X)
X = imp.transform(X)
df = pd.DataFrame(X,columns = original_data.columns[1:],index = original_data.index)
df.insert(0,'url',original_data.url)

In [877]:
df

,url,timedelta,n_tokens_title,n_tokens_content,n_unique_tokens,n_non_stop_words,n_non_stop_unique_tokens,num_hrefs,num_self_hrefs,num_imgs,...,min_positive_polarity,max_positive_polarity,avg_negative_polarity,min_negative_polarity,max_negative_polarity,title_subjectivity,title_sentiment_polarity,abs_title_subjectivity,abs_title_sentiment_polarity,shares
0,http://mashable.com/2013/01/07/amazon-instant-...,731.0,12.0,219.0,0.663594,1.0,0.815385,4.0,2.0,1.0,...,0.100000,0.70,-0.350000,-0.600,-0.200000,0.500000,-0.187500,0.000000,0.187500,593.0
1,http://mashable.com/2013/01/07/ap-samsung-spon...,731.0,9.0,255.0,0.604743,1.0,0.791946,3.0,1.0,1.0,...,0.033333,0.70,-0.118750,-0.125,-0.100000,0.000000,0.000000,0.500000,0.000000,711.0
2,http://mashable.com/2013/01/07/apple-40-billio...,731.0,9.0,211.0,0.575130,1.0,0.663866,3.0,1.0,1.0,...,0.100000,1.00,-0.466667,-0.800,-0.133333,0.000000,0.000000,0.500000,0.000000,1500.0
3,http://mashable.com/2013/01/07/astronaut-notre...,731.0,9.0,531.0,0.503788,1.0,0.665635,9.0,0.0,1.0,...,0.136364,0.80,-0.369697,-0.600,-0.166667,0.000000,0.000000,0.500000,0.000000,1200.0
4,http://mashable.com/2013/01/07/att-u-verse-apps/,731.0,13.0,1072.0,0.415646,1.0,0.540890,19.0,19.0,20.0,...,0.033333,1.00,-0.220192,-0.500,-0.050000,0.454545,0.136364,0.045455,0.136364,505.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39639,http://mashable.com/2014/12/27/nypd-rafael-ram...,8.0,13.0,1629.0,0.425711,1.0,0.606092,15.0,12.0,6.0,...,0.033333,1.00,-0.429534,-1.000,-0.050000,0.783333,-0.600000,0.283333,0.600000,1400.0
39640,http://mashable.com/2014/12/27/protests-contin...,8.0,11.0,223.0,0.653153,1.0,0.825758,5.0,3.0,1.0,...,0.214286,0.80,-0.250000,-0.250,-0.250000,0.000000,0.000000,0.500000,0.000000,1200.0
39641,http://mashable.com/2014/12/27/samsung-app-aut...,8.0,11.0,346.0,0.529052,1.0,0.684783,9.0,7.0,1.0,...,0.100000,0.75,-0.260000,-0.500,-0.125000,0.100000,0.000000,0.400000,0.000000,1800.0
39642,http://mashable.com/2014/12/27/seth-rogen-jame...,8.0,12.0,328.0,0.696296,1.0,0.885057,9.0,7.0,3.0,...,0.136364,0.70,-0.211111,-0.400,-0.100000,0.300000,1.000000,0.200000,1.000000,1900.0
39645,http://mashable.com/2014/12/27/ukraine-blasts/,8.0,6.0,682.0,0.539493,1.0,0.692661,10.0,1.0,1.0,...,0.062500,0.50,-0.205246,-0.500,-0.012500,0.000000,0.000000,0.500000,0.000000,1100.0

## 2.2 Dataset Analysis (up to 1 of 11.2 points)
In the following code cell (feel free to create new cells), remember to comment your code snippets:

1) Print the total number of samples;

2) Print a table with the first 15 samples;

3) Plot the histogram distribution of "shares";

4) A bar chart counting the attributes:  data_channel_is_lifestyle, data_channel_is_entertainment, data_channel_is_bus, data_channel_is_socmed, data_channel_is_tech, data_channel_is_world;

In [19]:
# write here the code for 2.2 Dataset Analysis

your comments for step 2.2 Dataset Analysis

## 2.3 Feature importance analysis  (up to 1 of 11.2 points)

Perform feature importance analysis

In [20]:
# write here the code for 2.4 Feature importance analysis

your comments for step 2.4 Feature importance analysis

<hr>

## 3. Model Selection (up to 8.2 of 11.2  points)
In this part of the challenge you are requested to perform all the necessary steps required in order to design a full fledged classification task on the <b>shares</b> feature.

You are requested to perform the following steps having in mind the following: 

1) the dataset must be properly splitted to perform crossvalidation 

2) when required, features must be properly encoded

3) in order to simplify the problem the target feature can be dicretized <b>(number of classes must be >=5)</b> ;

4) for model selection you are requested to consider: 

- Decision Trees

- Support Vector Machines;

- An ensamble methodology;

- MLPNs.

5) hyper-parameter tuning <b>must</b> be performed and discussed;

6) apply standardizion and normalization when appropriate;

7) remember to use an appropriate evaluation setting (cross-fold etc..)

8) describe the measures adopted for the evaluation and discuss the results;

9) provide a discussion of the model selection, where you describe the differences in terms of performance and explains the root causes;

In [14]:
# write here the code for step 3 Model Selection

write here your comments for step 3 Model Selection

<hr>

# 4. Summary
Provide a summary discussion (in English) of your solution <b>(at least 500 words)</b> feel free to include plots figures and tables.

<b>This is a mandatory step</b>

write here <b>your own</b> summary dicussion (in English) use at least 500 words,